.login_page{
  
    margin: 4% auto;
    min-height: 80vh;
    height: max-content;
    border-radius: 20px;
    width: 43vw;
    box-shadow: 0px 0px 40px black;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.078);
}
.head_login{
    font-size: xx-large;
    margin: 0% ;
    text-align: center;

    color: rgb(255, 12, 178);
    text-shadow: 5px 1px 12px rgb(213, 8, 155),1px 10px 1px black ;
    font-size: 300%;

}
.login_inputs{
  
   padding: 0% 5%;
    width: 30vw;
    height: 50vh;

    margin: 0% auto 10%;
}
.inputs{
    width: 30vw;
    border-radius: 20px;
    margin: 4% auto;
    color: azure;
    padding: 1% 3%;
    border: solid rgb(255, 6, 176);;
    box-shadow: 0px 0px 4px rgb(255, 12, 178);
  
    font-size: x-large;
    background-color: inherit;
}
.login_btn{
    display: block;
    justify-content: center;
    margin: 5% auto;
    background-color: rgb(203, 6, 147);
    box-shadow: 0px 0px 20px rgb(255, 12, 178),2px .4px 4px white;
    border: none;
    padding: 2% 3%;
    color:azure;
    width: 10vw;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    font-size: x-large;
    transition: .7s;
}
.login_btn:hover{
    cursor:pointer;
    scale: 1.1;
    
}
#highlight{
    font-size: larger;
    background-color: rgba(240, 255, 255, 0.176);
}
.forgot{
    margin: 0% 0%;
    font-size: larger;
   
    color: white;
    text-decoration: none;
}
@media screen and (max-width:800px) {
    .login_inputs{
        width:50vw;
        display: grid;
        justify-content: center;

    }
    .login_page{
        width: 85vw;
    }
    .inputs{
        width: 60vw;
    }
    .login_btn{
        width: 30vw;
    }
}