<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andela exam</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <div class="cross">
                <svg viewBox="0 0 100 100" width="40" height="40">
                    <rect width="80" height="10" x="-30" y="60" fill="white" style="transform: rotate(-40deg);" id="cross_1"></rect>
                    <rect width="80" height="10" x="25" fill="white" style="transform: rotate(40deg);" y="0" id="cross_2"></rect>

                </svg>
            </div>
            <div class="logo_container">
                <h1 class="logo">KS</h1>
            <h3 class="undi">kevo scope</h3>
            </div>
            <div class="links">
                <ul class="ul">
                    <li class="side_li"><a class="side_a" href="/">Home</a></li>
                    <li class="side_li"><a class="side_a" href="/login">Login </a></li>
                    <li class="side_li"><a class="side_a" href="https://my-public-portfolio101.netlify.app/" target="_blank"> portfolio</a></li>
                    <li class="side_li"><a class="side_a" href="tel:0787882105">Contact Us </a></li>
                </ul>
            </div>
            
        </div>
        <div class="page_content">
        <div class="lefty">
            <div class="content">
                <div class="menu">
                    <svg viewBox="0 0 100 80"  width="35" height="40">
                        <rect width="90" height="10" fill="white"  ></rect>
                        <rect y="30" width="60" height="10" fill="white"></rect>
                        <rect y="60" width="90" height="10" fill="white"></rect>
                      </svg>
                </div>
                <div class="inner_content">
                    <h2 class="heading">KNOW YOUR HOROSCOPE TODAY!</h2>
                <h3 ><span id="q">"</span><span id="qod">Loading....</span> <span id="q">"</span><span id="author"></span></h3>
                <form>
                    <label>enter your birth date</label>
                    <p class="today">today...</p>
                <input type="date"  id="date" min="1980-01-01" max="2008-12-31" required >
                </div>
               
                <button class="submit">Submit</button>
                
                </form>
                    
                            

            </div>
        </div>
        <div class="righty">
            <img id="bg" src="https://wallpapercave.com/wp/wp6127603.jpg"  alt="">
            <div class="blur">
                <h2 id="righty_text">we're all apart of something<span id="big">BIG</span></h2>
          
            </div>
        
        
        </div>
        <div class="footer">
            <h5 class="footer_text">
                ©copyright reserved ishimwe kevin 2022
                
            </h5>

</div>
</div>

    </div>
    <div class="yourHoroscope">
        <div class="horoscope_container">
            <div class="cross_horo">
                <svg viewBox="0 0 100 100" width="40" height="40">
                    <rect width="80" height="10" x="-30" y="60" fill="white" style="transform: rotate(-40deg);" id="cross_1"></rect>
                    <rect width="80" height="10" x="25" fill="white" style="transform: rotate(40deg);" y="0" id="cross_2"></rect>

                </svg>
            </div>
            <h2 class="zodiac">Cancer</h2>
            <h3 class="horoscope">loading...</h3>
            <p class="now">today...</p>
            

        </div>
    </div>


    <script  src="index.js"></script>
</body>
</html>