<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andela exam</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <div class="page">
<div class="login_page">
    <h1 class="head_login" style="margin: 5vh 0%;">LOGIN</h1>
    <form action="" class="login_inputs">
        <input type="text" class="inputs" placeholder="email" autofocus>
        <input type="password" class="inputs"  placeholder="password">
        <a href="#" class="forgot">forgot password</a>
        <button class="login_btn">login</button>
        <a class="forgot" href="/create-account"> don't have an account !, <span id="highlight">Sign UP!</span></a>
    </form>

</div>
    </div>


</body>
</html>